.todo-container {
    width: 100%;
    min-height: 100vh;
    background-color: #f7f9fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    font-family: "Poppins", sans-serif;
  }
  
  .heading {
    color: blue;
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  .input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  button {
    padding: 10px 14px;
    border: none;
    background-color: #282c34;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #3b4048;
  }
  
  .tasks-section {
    width: 350px;
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(8, 1, 1);
    margin-bottom: 10px;
    padding: 12px 16px;
  }
  
  .task-item span {
    flex: 1;
    cursor: pointer;
  }
  
  .btn-group {
    display: flex;
    gap: 6px;
  }
  
  .no-tasks {
    color: #555;
  }
  .btn {
    background-color: red;
  }
  